header .topNav {
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #99c;
  padding: 5px 25px;
  justify-content: space-between;
  width: 100%;
}

.topNav {
  text-align: center;
}

.Alpha {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  justify-content: space-evenly;
  margin-left: -450px;
}

.alpha {
  padding: 3px;
  margin: 7px;
  font-weight: 600;
}

.Alpha :hover {
  border: none;
  background-color: #7777CC;
  border-radius: 4px;
  cursor: pointer;
}

.searchBar {
  display: flex;
  border: none;
  border-radius: 10px;
  width: 60px;
  margin-left: -400px;
  padding: 10px;
  padding-top: 20px;
}

.searchBar {
  margin-right: -200px;
}

.btnOne {
  align-items: center;
  width: auto;
}

.btnTwo {
  align-items: center;
  width: auto;
}

span {
  font-family: sans-serif, Verdana, Arial;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

header {
  align-items: center;
}

.hero {
  border: 1px solid #669;
  background-color: #669;
  width: 80%;
  height: 40%;
  padding: 150px;
  margin-right: 50px;
}

.btnOne {
  width: 85px;
  background-color: #7777CC;
  border: 1px solid #6464c5;
  border-radius: 0 4px 4px 0;
  padding: 5px;
}

.btnTwo {
  width: 40px;
  background-color: #7777CC;
  border: 1px solid #6464c5;
  border-radius: 0 4px 4px 0;
  padding: 5px;
}

.searchTwo {
  display: flex;
}

.button {
  display: flex;
}

.button :hover {
  background-color: #0000a2;
  cursor: pointer;
}

.btnTwo :hover {
  background-color: #0000a2;
}

.topinput {
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  padding: 6px 12px;
}

.downinput {
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  padding: 6px 12px;
  width: 35%;
}

.Cards {
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: sans-serif, Verdana, Arial;
  padding: 0 150px 0 180px;
  margin: 0 0 0 195px;
}

.card {
  margin-right: 20px;
  margin: 10px 0;
  padding: 0 15px;
}

.card_image {
  width: 100%;
  display: block;
}

.container {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
  margin-top: -15px;
  background: #dde;
  justify-content: space-around;
}

p {
  margin-left: -25px;
  text-align: center;
}

a {
  color: #00E;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

a :hover {
  color: #0000a2;
  text-decoration: underline;
  cursor: pointer;
}

.topinput {
  border: none;
  border-radius: 4px 0 0 4px;
}

.downinput {
  width: 35%;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 200px;
  padding: 0 200px;
  margin: 0 0 0 195px;
}

.content-table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0 15px;
  margin-right: -20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.tableOne {
  box-sizing: border-box;
  background-color: rgb(238, 238, 255);
  border-radius: 5px;
  width: 350px;
  height: 220px;
}

.tableTwo {
  background-color: rgb(238, 238, 255);
  border-radius: 5px;
  width: 350px;
  height: 220px;
}

tr {
  font-family: verdana, Arial;
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ddd;
  padding: 10px 15px;
}

tr :hover {
  text-decoration: underline;
  color: #0000a2;
  background-color: #f7f7ff;
  cursor: pointer;
}

td {
  text-align: center;
  color: rgb(0, 0, 238);
  padding: 16px 10px;
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border-bottom: none;
}

.footerOne {
  display: flex;
  background-color: #99c;
  border: 1px solid #6464c5;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-evenly;
}

.footerTwo {
  display: flex;
  background-color: #dde;
  border-color: #8383c1;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-evenly;
}

.foot-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  justify-content: center;
}

.foot-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  font-weight: 200;
  color: #00E;
  justify-content: center;
}

.footnote {
  color: black;
  text-align: center;
  font-size: small;
  font-family: sans-serif, Verdana, Arial;
  background-color: #dde;
}

.foot-one :hover, .foot-two :hover {
  text-decoration: underline;
  cursor: pointer;
}

.boody {
  background-color: #DDE !important;
}

.welcome {
  display: grid;
  flex-direction: row;
}

.welcome-note {
  padding: 0 200px;
  margin: 0 0 0 195px;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-family: sans-serif, Verdana, Arial;
  font-weight: 500;
}

h2 {
  font-size: 26px;
  font-family: sans-serif, Verdana, Arial;
  font-weight: 500;
  padding: 0 200px;
  margin: 0 0 0 200px;
  margin-top: 10px;
}

.welcome_note {
  font-family: Verdana, Arial;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  margin-left: 10px;
}

.bottom-note {
  margin-right: -50px;
  text-align: start;
  font-size: 18px;
  font-weight: 300;
}

.adPage {
  border: 1px solid white;
  background-color: #DDE;
  width: 350px;
  height: 220px;
  padding: 0 200px 0 0;
  margin: 0 195px 0 0;
}

.empty {
  padding: 40px 0;
  background-color: #DDE;
}

.hero {
  overflow-x: hidden;
}

header {
  overflow-x: hidden;
}
/*# sourceMappingURL=AtoZ.css.map */